* {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(0, 0%, 100%);
}
.left-background-shape {
  position: fixed;
  z-index: -1;
  height: 85%;
  background: linear-gradient(to top right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  width: 35%;
  top: 0;
  left: -10%;
  border-radius: 0 0 50vw 50vw; 
}
.right-background-shape {
  position: fixed;
  z-index: -1;
  height: 85%;
  background: hsl(270, 20%, 96%);
  width: 30%;
  bottom: 0;
  right: -10%;
  border-radius: 50vw 50vw 0 0;
}

/* Responsive features */
@media only screen and (max-width: 768px) {
  
  .left-background-shape {
    top: -20%;
    width: 80%;
    left: -35%;
  }
  .right-background-shape {
    bottom: -20%;
    width: 80%;
    right: -35%;
  }
}